@using WebMarke_App.Models.ViewModel
@model ValueShowcase
@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <input asp-for="Value.Id" type="hidden" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>@(Model.Value.Id != 0 ? "ویرایش" : "ایجاد") مقدار</h2>
            <hr />
            <div class="mb-3">
                <label asp-for="Value.Value"></label>
                <input asp-for="Value.Value" class="form-control" />
                <span asp-validation-for="Value.Value" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Value.ProductId"></label>
                <select asp-for="Value.ProductId" asp-items="@Model.ProductListValue" class="form-select">
                    <option disabled selected>---انتخاب محصول---</option>
                </select>
                <span asp-validation-for="Value.ProductId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Value.FildeId"></label>
                <select asp-for="Value.FildeId" asp-items="@Model.FieldList" class="form-select">
                    <option disabled selected>---انتخاب فیلد---</option>
                </select>
                <span asp-validation-for="Value.FildeId" class="text-danger"></span>
            </div>
            <div class="col-12">
                @if (Model.Value.Id != 0)
                {
                    <button type="submit" class="btn btn-outline-dark m-auto" style="width:150px">ویرایش فیلد</button>
                }
                else
                {
                    <button type="submit" class="btn btn-outline-dark m-auto" style="width:150px">ایجاد فیلد</button>
                }
                <a asp-controller="value" asp-action="Index" class="btn btn-outline-dark m-auto" style="width:150px">بازگشت به لیست</a>
            </div>
        </div>
    </div>
</form>
