@using WebMarke_App.Models.ViewModel
@model CategoryShowcase
@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <input asp-for="Category.Id" type="hidden" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>@(Model.Category.Id != 0 ? "ویرایش" : "ایجاد") دسته بندی</h2>
            <hr />
            <div class="mb-3">
                <label asp-for="Category.Name"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Category.ParentId"></label>
                <select asp-for="Category.ParentId" asp-items="@Model.CategoryList" class="form-select">
                    <option disabled selected>---انتخاب والد---</option>
                </select>
                <span asp-validation-for="Category.ParentId" class="text-danger"></span>
            </div>
            <div class="col-12">
                @if (Model.Category.Id != 0)
                {
                    <button type="submit" class="btn btn-outline-dark m-auto" style="width:150px">ویرایش دسته بندی</button>
                }
                else
                {
                    <button type="submit" class="btn btn-outline-dark m-auto" style="width:150px">ایجاد سته بندی</button>
                }
                <a asp-controller="category" asp-action="Index" class="btn btn-outline-dark m-auto" style="width:150px">بازگشت به لیست</a>
            </div>
        </div>
    </div>
</form>
