@model Product
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" />
    <input asp-for="Img" type="hidden" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>ویرایش محصول</h2>
            <hr />
            <div class="mb-3">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 mb-3">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="col-6 mb-3">
                    <label asp-for="Color"></label>

                </div>
            </div>
            <div class="mb-3">
                <label asp-for="File"></label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-outline-dark m-auto" style="width:150px">ویرایش محصول</button>
            </div>
        </div>
    </div>
</form>